/***** reset *****/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}

/***** font *****/
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
a {
  font-family: "NEXON Lv1 Gothic OTF";
}

/***** body scroll css *****/
body {
  -ms-overflow-style: none;
  width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

/***** router view *****/
section {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
}

/***** 공통 박스 *****/
.container {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container:last-child {
  margin-bottom: 0;
}

.container span {
  font-family: "NEXON Lv1 Gothic OTF Bold";
  font-size: 0.625rem;
  color: #f2226e;
}

.container h3 {
  font-family: "NEXON Lv1 Gothic OTF Bold";
  font-size: 0.875rem;
  margin: 10px 0 5px;
}

.container p {
  font-size: 0.875rem;
  color: #737373;
  line-height: 1.3;
}

/***** button css *****/
.btn_wrap {
  position: fixed;
  bottom: 20px;
  right: 10px;
}

.btn {
  color: #fff;
  padding: 16px;
  background-color: #f2e205;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/***** form tag *****/
input[type="text"] {
  padding: 15px;
  border-bottom: 3px solid #e2e2e2;
}
input[type="textarea"] {
  padding: 15px;
  border: 3px solid #e2e2e2;
  width: 100%;
}

select::-ms-expand {
  display: none;
}
